.container{
    padding:100px;
    background-color: #9C27B0 !important;
}
h1{
    text-align:center;
    color:white;
    padding-bottom:50px;
}

label{
    padding-right:20px;
    color:white;
    display:block;
    width:100%;
}

input{
    width:100%;
}

h5{
    color:white;
    padding-bottom:40px;
    padding-top: 20px;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-top: 2px solid white;
}

h4{
    color:white;
}

li{
    color:white;
}

i{
    color:white;
}

h6{
    color:white;
}



.list{
    width:100%;
}