
<div class="container">
  <h1>
    Welcome to {{ title }}!!
  </h1>

  <div class="form">
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label>Task Name:</label>
        <input type="text" placeholder="Task Name" value="" [(ngModel)]="newTask">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <button class="btn btn-primary" (click)="add(newTask)" [disabled]="newTask.length === 0">ADD</button>
    </div>
  </div>
  </div><!--End of form-->

  <div class="list">
    <h5>Tasks to Complete</h5>
    <hr>
    <h4>Sampel lists</h4>
    <ul>
      <li>HTML</li>
      <li>CSS</li>
      <li>Java Script</li>
      <li>Angular</li>
    </ul>
    <div class="row" *ngFor="let task of tasks;let i=index;">
      <div class="col-md-1">
        <h6>{{ i+1 }}</h6>
      </div>
      <div class="col-md-10">
        <h6>{{ task }}</h6>
      </div>
      <div class="col-md-1">
          <i class="material-icons" (click)="remove(i)">
              delete
          </i>
      </div>
    </div>
 
  </div>
  <hr/>

</div>


<router-outlet></router-outlet>
